/* #bookingSquash {
  font-family: "Montserrat", sans-serif;
  background-image: url("../img/squash-wall.jpg");
  background-size: cover;
  background-position: center;
}

#bookingSquash::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  background: rgba(255, 255, 255, 0.85);
} */
